# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on merge with main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  createbranch:
    runs-on: ubuntu-latest
    steps:
      - name: generate unique branch name
        run: echo branchName=EnetMerge--$(date +%s) >> $GITHUB_ENV        
      - name: Checkout Enet
        uses: actions/checkout@v2
        with:
          path: main
      - name: Checkout Enext
        uses: actions/checkout@v2
        with:
          repository: ccoffman-ebsco/TestingExtraBranchStuff-Next
          ref: main
          token: ${{ secrets.API_TOKEN_GITHUB }}
          path: next
      - name: Copy repos
        run: |
          cd next
           git config --global user.email "ccoffman-ebsco@ebsco.com"
          git config --global user.name "ccoffman-ebsco"
          git remote set-url origin https://ccoffman-ebsco:${{ secrets.API_TOKEN_GITHUB }}@github.com/ccoffman-ebsco/TestingExtraBranchStuff-Next.git
          git checkout -b ${{ env.branchName }}
          cp -fr ../main/* ./
          git add -A
          git commit -a -m 'This is a message'
          git push --set-upstream origin ${{ env.branchName }}
          gh auth login --with-token < ${{ secrets.API_TOKEN_GITHUB }}
          gh pr create --title "Lasted Merge" --body "This merge was created from the last PR in Enet" --base main
